@font-face {
	font-family: Franklin-Medium;
	src: url("fonts/Franklin-Medium.otf") format("opentype");
}

@font-face {
	font-family: Franklin-Book;
	src: url("fonts/Franklin-Book.otf") format("opentype");
}

@font-face {
	font-family: Franklin-BookCondensed;
	src: url("fonts/Franklin-BookCondensed.otf") format("opentype");
}

* { margin: 0; padding: 0; }

body, html {
	width: 100%;
	height: 100%;
}

a:link, a:visited {
	text-decoration: none;
}

#content {
	width: 100%;
	font-family: Franklin-Book, Helvetica, Arial, sans-serif;
}

#sidebar {
	width: 25%;
	height: 100%;
	background-color: #34a969;
	position: fixed;
	top: 0;
	left: 0;
}

#sidebar img {
	display: block;
	max-width: 50%;
	margin: 0 auto;
	padding: 20% 25%;
}

#sidebar ul {
	margin: 0 auto;
	width: 100%;
}

#sidebar li {
	font-family: Franklin-Book, Helvetica, Arial, sans-serif;
	padding: 8% 0 6% 0;
	color: #FFF;
	font-weight: normal;
	list-style-type: none;
	text-align: center;

	transition: 0.1s background-color, 0.1s color;
}

#sidebar li:hover {
	background-color: #fff;
	color: #34a969;
	cursor: pointer;
	
	transition: 0.1s background-color, 0.1s color;
}

#menu-button {
	display: none;
}

#sidebar .active {
	background-color: #fff;
	color: #34a969;
}

#projects {
	width: 75%;
	position: relative;
	margin-left: 25%;
	padding: 0% 4%;
}

.projects-hidden {
	display: none;
}

.projects-visible {
	display: block;
}

#sort {
	text-align: center;
	margin: 2% auto;
	margin-left: 25%;
}

#sort .sort-active {
	color: #34a969;
}

#sort .sort-inactive {
	color: #000;
	cursor: pointer;
	transition: 0.1s color;
}

#sort .sort-inactive:hover {
	color: #777;
	transition: 0.1s color;
}

#projects article {
	width: 23%;
	position: relative;
	float: left;
	margin: 3.4445% 3.4445%;
}

#projects article img {
	width: 100%;
	margin: 0;
	padding: 0;
}

.cover {
	background-color: rgba(102, 153, 51, 0.0);
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.2s background-color;
}

.cover:hover {
	background-color: rgba(52, 169, 105, 0.9);
	transition: 0.2s background-color;
}

#projects article h3 {
	display: block;
	position: relative;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	margin-top: 40%;
	color: #fff;
	font-weight: normal;
}

#projects article h4 {
	display: block;
	position: relative;
	text-align: center;
	top: 0;
	left: 0;
	width: 80%;
	margin: 0 auto;
	margin-top: 1%;
	color: #fff;
	font-family: Franklin-BookCondensed, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 0.85rem;
}

.projectname-visible {
	opacity: 1.0;
	transition: opacity 0.2s;
}

.projectname-hidden {
	opacity: 0.0;
	transition: opacity 0.2s;
}

#about {
	width: 420px;
	margin-left: 25%;
	padding: 2% 4%;
	font-family: Franklin-BookCondensed, Helvetica, Arial, sans-serif;
}

.about-visible {
	display: block;
}

.about-hidden {
	display: none;
}

#about h1 {
	margin: 0% 5.1667% 1% 5.1667%;
	font-size: 2.6rem;
	color: #34a969;
}

#about h2 {
	margin: 0 5.1667%;
	font-size: 1.5rem;
}

#about img {
	margin: 7% 5.1667%;
	width: 89.666%;
}

#about p {
	margin: 0% 5.1667% 2.5% 5.167%;
}

#about a:link, #about a:visited {
	color: #34a969;
	text-decoration: none;

	transition: color 0.2s;
}

#about a:hover {
	color: #777;

	transition: color 0.2s;
}


#contact {
	margin: 3% 5.1667%;
}

#contact h3 {
	font-family: Franklin-Medium, Helvetica, Arial, sans-serif;
	color: #34a969;
}

#contact p {
	margin: 1.5% 0;
}

#contact #icons img {
	margin: 0 1.04%;
	padding: 0;
	width: auto;
	transition: opacity 0.2s;
}

#contact #icons img:hover {
	opacity: 0.7;
	transition: opacity 0.2s;
}

#icons {
	margin: 2% 0;
}

#i-am {
	color: #34a969;
}

#i-like {
	color: #34a969;
}

.show {
	visibility: visible;
	transition: visibility 0.2s;
}

.hide {
	visibility: hidden;
	transition: visibility 0.2s;
}

#all-posts {
	width: 67%;
	margin-left: 25%;
	padding: 0 4%;
}

.post {
	border-bottom: 3px solid #DDD;
	margin-bottom: 10px;
}

.post h1 {
	margin: 6% 5.1667% -0.5% 5.1667%;
	font-size: 2.1rem;
	font-weight: normal;
	color: #34a969;
}

.post h3 {
	margin: 0% 5.1667% 2% 5.1667%;
	font-family: Franklin-Medium, Helvetica, Arial, sans-serif;
	font-size: 0.75rem;
	font-weight: normal;
	color: #777;
}

.post p {
	margin: 1.5% 5.1667%;
	font-size: 1.05rem;
}

.post a:link, .post a:visited {
	color: #34a969;
	text-decoration: none;

	transition: color 0.2s;
}

.post a:hover {
	color: #777;

	transition: color 0.2s;
}

.post img {
	margin: 1% 5.1667%;
	width: 90%;
	background: blue;
}