@font-face {
    font-family: 'futura_ltextrabold';
    src: url('../fonts/futuralt-extrabold-webfont.eot');
    src: url('../fonts/futuralt-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralt-extrabold-webfont.woff') format('woff'),
         url('../fonts/futuralt-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-extrabold-webfont.svg#futura_ltextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_ltcondensed';
    src: url('../fonts/futuralt-condensed-webfont.eot');
    src: url('../fonts/futuralt-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralt-condensed-webfont.woff') format('woff'),
         url('../fonts/futuralt-condensed-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-condensed-webfont.svg#futura_ltcondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {margin: 0; padding: 0;}

body {
	font-family: 'futura_ltcondensed', Futura, Helvetica, Arial, Verdana, sans-serif;
}

#wrapper {
	padding-bottom: 55px;
}

header {
	width: 100%;
	height: 130px;
	margin: 0 auto;
	text-align: center;
	position: fixed;
  	right: 0;
  	top: 0;
	background-image: url('../img/header.png');
	background-attachment: fixed;
	background-position: top;
	z-index: 99;
	
}

/*ALL NAV*/

nav {
	width: 960px;
	height: 100px;
	margin: 0 auto;
	margin-top: 150px;
	font-family: 'futura_ltcondensed', Futura,Helvetica, Arial, Verdana, sans-serif;
}

nav>ul {
	list-style-type: none;
	margin: 10px;
	margin-top: 20px;
}

nav>ul>li {
	display: inline;
	padding: 27px;
	padding-bottom: 10px;
	margin: 0 25px;
	font-size: 2.1em;
	text-decoration: none;
	border: none;
	letter-spacing: 0.1em;
}

nav>ul>li:hover {
	-webkit-transition: color .1s linear;
	transition: color .1s linear;
}

/*HOME LINK*/

nav>ul>li#all {
	color: #000;
}

nav>ul>li#all:hover {
	color: #666;
	border-bottom: 4px solid #666;
}

nav>ul>li#all:active {
	color: #666;
}

/*INFO LINK*/

nav>ul>li#info {
	color: #C4C431;
	
}

nav>ul>li#info:hover {
	color: #DBDB37;
	border-bottom: 4px solid #C4C431;
}

/*DESIGN LINK*/

nav>ul>li#design {
	color: #ff3333;
	
}

nav>ul>li#design:hover {
	color: #ff6666;
	border-bottom: 4px solid #ff3333;
}

nav>ul>li#design:active {
	color: #ff6666;
}

/*MOTION LINK*/

nav>ul>li#motion {
	color: #2BD62B;
	
}

nav>ul>li#motion:hover {
	color: #31F531;
	border-bottom: 4px solid #2BD62B;
}

nav>ul>li#motion:active {
	color: #31F531;
}

/*OTHER LINK*/

nav>ul>li#other {
	color: #2A55D4;
	
}

nav>ul>li#other:hover {
	color: #3061F2;
	border-bottom: 4px solid #2A55D4;
}

nav>ul>li#other:active {
	color: #3061F2;
}

/*CONTENT STYLES*/

div#wrapper {
	width: 960px;
	margin: 0 auto;
}

section#content>a>img {
	display: inline;
	margin: 4px 4px;
	padding: 3px 3px;
}

section#content>p.design {
	display: none;
}

section#content>a.design>img:hover {
	outline: 4px solid #ff3333;
	-webkit-transition: outline .2s linear;
	transition: outline .2s linear;
}

section#content>p.motion {
	display: none;
}

section#content>a.motion>img:hover {
	outline: 4px solid #33ff33;
	-webkit-transition: outline .2s linear;
	transition: outline .2s linear;
}

section#content>p.other {
	display: none;
}

section#content>a.other>img:hover {
	outline: 4px solid #3366ff;
	-webkit-transition: outline .2s linear;
	transition: outline .2s linear;
}

/*INFO CONTENT STYLE*/

section#infoContent article {
	width: 300px;
	display: inline;
	float: left;
	margin: 0 7px;
	margin-bottom: 55px;
}

section#infoContent article h3 {
	padding: 5px;
	background-color: #C4C431;
	font-size: 1.3em;
	letter-spacing: 0.05em;
}

section#infoContent article p {
	margin: 10px 0;
	line-height: 1.3em;
	letter-spacing: 0.05em;
	font-size: 1.05em;
	text-align: justify;
}

section#infoContent article h4 {
	font-weight: bold;
	margin-bottom: 0px;
}

section#infoContent article img {
	margin-top: 15px;
}

section#infoContent article p a:link, section#infoContent article p a:visited {
	color: #222;
	text-decoration: none;
}

section#infoContent article p a:hover {
	border-bottom: 1px solid #222;
}

section#infoContent article#resume h4 {
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 1.1em;
}

section#infoContent article .italic {
	font-style: italic;
}

section#infoContent article .bold {
	font-weight: bold;
}

section#infoContent article p.skillList{
	display: inline;
	width: 140px;
	float: left;
}

section#infoContent article .clearFloat {
	clear: both;
}


/*FOOTER STYLE*/

#fixed-bar {
    margin: 0;
    padding: 0;
    background-color: black;
    z-index: 100;
    width: 100%
}
#fixed-bar a {
    color: white;
    text-decoration: none;
}

#bar-inner {
    width: 960px;
    margin: 0 auto;
    height: 46px;
    line-height: 36px;
    text-align: center;
    color: white;
    padding-top: 5px;
}

/*FANCYBOX STUFF*/

.fancybox-title {
 text-align: center;
}

.fancybox {
	z-index: 199;
}

/*SLIDING IMAGES STYLES*/
.boxgrid{  
    width: 220px;  
    height: 220px;  
    margin:6px;
	display: inline-block;
    background:#161613;  
    overflow: hidden;  
    position: relative;  
    z-index: 0;
}  
.boxgrid img{  
    position: absolute;  
    top: 0;  
    left: 0;  
    border: 0;  
}

.boxcaption{  
    float: left;  
    position: absolute;
    top: 220px;
    /*background: #ff3333;*/  
    height: 75px;  
    width: 100%;  
    opacity: .9;  
    /* For IE 5-7 */  
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);  
    /* For IE 8 */  
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";  
    }
    
.boxcaption.design {
	background: #ff3333;
}

.boxcaption.motion {
	background: #66ff66;
}

.boxcaption.other {
	background: #6699ff;
}
    
.captionfull .boxcaption {  
    top: 440;  
    left: 0;  
}  
.caption .boxcaption {  
    top: 440;  
    left: 0;  
} 

.boxgrid p {
	font-size: 1em;
	padding: 5px;
	width: 100%;
	text-align: center;
}

.boxgrid h3 {
	font-size: 1.1em;
	padding: 5px;
	padding-bottom: 0;
	width: 100%;
	text-align: center;
	font-weight: normal;
}

/****CCLAB*****/
#cclab {
	width: 960px;
	margin: 0 auto;
	margin-top: 200px;
}

#cclab h2, #cclab h3 {
	padding: 10px;
}

#cclab h3 {
	color: #243670;
}

#cclab p {
	padding: 5px;
}

.codeblog {
	background-color: #eee;
	border-radius: 5px;
	padding: 5px;
}


section#cclab a:link, section#cclab a:visited {
	text-decoration: none;
	color: #d22;
}

section#cclab a:hover {
	text-decoration: underline;
}

/***********MOBILE & MEDIA QUERIES**********/

@media screen and (max-width: 480px) {

	#wrapper{
		width: 320px;
	}
	
	header {
	height: 50px;
	background-image: url('../img/header-mobile.png');
	}
	
	nav {
	width: 320px;
	height: 300px;
	margin: 0 auto;
	margin-top: 70px;
	font-family: 'futura_ltcondensed', Futura,Helvetica, Arial, Verdana, sans-serif;
	}

	/*NAV*/
	nav>ul>li {
		display: block;
		padding: 0px;
		padding-bottom: 20px;
		margin: 0 auto;
		text-align: center;
		font-size: 2.2em;
		text-decoration: none;
	}
	
	nav>ul>li:hover {
		border-bottom: none;
		-webkit-transition: none;
		transition: none;
	}
	
	/*HOME LINK*/

	nav>ul>li#all:hover {
		color: #000;
		border-bottom: none;
	}
	
	nav>ul>li#all:active {
		color: #666;
	}
	
	/*INFO LINK*/
	
	nav>ul>li#info:hover {
		color: #C4C431;
		border-bottom: none;
	}
	
	nav>ul>li#info:active {
		color: #DBDB37;
	}
	
	/*DESIGN LINK*/
	
	nav>ul>li#design:hover {
		color: #ff3333;
		border-bottom: none;
	}
	
	nav>ul>li#design:active {
		color: #ff6666;
	}
	
	/*MOTION LINK*/
	
	nav>ul>li#motion:hover {
		color: #33ff33;
		border-bottom: none;
	}
	
	nav>ul>li#motion:active {
		color: #66ff66;
	}
	
	/*OTHER LINK*/
	
	nav>ul>li#other {
		color: #3366ff;
		
	}
	
	nav>ul>li#other:hover {
		color: #3366ff;
		border-bottom: none;
	}
	
	nav>ul>li#other:active {
		color: #6699ff;
	}
	
	/*CONTENT*/
	
	div#wrapper {
		width: 320px;
		margin: 0 auto;
	}
	
	section#content {
		width: 320px;
		margin-top: 20px;
		text-align: center;
	}
	
	section#content>a>img {
		display: inline;
		margin: 0 auto;
		margin-bottom: 0;
		padding: 0;
	}
	
	section#content>a.design>img:hover {
		outline: none;
		-webkit-transition: outline none;
		transition: none;
	}
	
	section#content>p.design {
		display: block;
		width: 210px;
		background-color: #ff3333;
		margin: 10px auto 20px auto;
		padding: 5px;
		text-align: center;
	}
	
	section#content>a.motion>img:hover {
		outline: none;
		-webkit-transition: outline none;
		transition: none;
	}
	
	section#content>a.other>img:hover {
		outline: none;
		-webkit-transition: none;
		transition: none;
	}
	
	/*SLIDING IMAGES STYLES*/
.boxcaption{  
    top: 145px;  
    }

	/*FOOTER STYLE*/

	#fixed-bar {
		margin: 0;
		padding: 0;
		background-color: black;
		z-index: 100;
		width: 100%
	}
	#fixed-bar a {
		color: white;
		text-decoration: none;
	}
	
	#bar-inner {
		width: 320px;
		margin: 0 auto;
		height: 46px;
		line-height: 36px;
		text-align: center;
		color: white;
		padding-top: 5px;
	}
	
	/*FANCYBOX STUFF*/
	.fancybox>.vimeo {
	 width: 480px;
	 height: 270px;
	}

}


/*TABLET MEDIA QUERIES*/

@media screen and (min-width: 481px) and (max-width: 769px) {

	#wrapper{
		width: 768px;
	}
	
	header {
	height: 79px;
	background-image: url('../img/header-tablet.png');
	}
	
	nav {
	width: 481px;
	height: 300px;
	margin: 0 auto;
	margin-top: 99px;
	font-family: 'futura_ltcondensed', Futura,Helvetica, Arial, Verdana, sans-serif;
	}

	/*NAV*/
	nav>ul>li {
		display: block;
		padding: 0px;
		padding-bottom: 20px;
		margin: 0 auto;
		text-align: center;
		font-size: 2.2em;
		text-decoration: none;
	}
	
	nav>ul>li:hover {
		border-bottom: none;
		-webkit-transition: none;
		transition: none;
	}
	
	/*HOME LINK*/

	nav>ul>li#all:hover {
		color: #000;
		border-bottom: none;
	}
	
	nav>ul>li#all:active {
		color: #666;
	}
	
	/*INFO LINK*/
	
	nav>ul>li#info:hover {
		color: #C4C431;
		border-bottom: none;
	}
	
	nav>ul>li#info:active {
		color: #DBDB37;
	}
	
	/*DESIGN LINK*/
	
	nav>ul>li#design:hover {
		color: #ff3333;
		border-bottom: none;
	}
	
	nav>ul>li#design:active {
		color: #ff6666;
	}
	
	/*MOTION LINK*/
	
	nav>ul>li#motion:hover {
		color: #33ff33;
		border-bottom: none;
	}
	
	nav>ul>li#motion:active {
		color: #66ff66;
	}
	
	/*OTHER LINK*/
	
	nav>ul>li#other {
		color: #3366ff;
		
	}
	
	nav>ul>li#other:hover {
		color: #3366ff;
		border-bottom: none;
	}
	
	nav>ul>li#other:active {
		color: #6699ff;
	}
	
	/*CONTENT*/
	
	div#wrapper {
		width: 481px;
		margin: 0 auto;
	}
	
	section#content {
		margin-top: 20px;
		text-align: center;
	}
	
	section#content>a>img {
		display: block;
		margin: 0 auto;
		margin-bottom: 0;
		padding: 0;
	}
	
	section#content>a.design>img:hover {
		outline: none;
		-webkit-transition: outline none;
		transition: none;
	}
	
	
	section#content>a.motion>img:hover {
		outline: none;
		-webkit-transition: outline none;
		transition: none;
	}
	
	section#content>a.other>img:hover {
		outline: none;
		-webkit-transition: none;
		transition: none;
	}
	
	section#infoContent article {
		width: 481px;
		text-align: center;
		margin: 0 auto;
	}
	
	section#infoContent>article#contact {
		margin-bottom: 30px;
		padding-bottom: 30px;
	}
	
	section#infoContent>article#resume>h4 {
		margin: 0;
		margin-top: 10px;
		text-align: left;
	}
	
	/*FOOTER STYLE*/

	#fixed-bar {
		margin: 0;
		padding: 0;
		background-color: black;
		z-index: 100;
		width: 100%
	}
	#fixed-bar a {
		color: white;
		text-decoration: none;
	}
	
	#bar-inner {
		width: 320px;
		margin: 0 auto;
		height: 46px;
		line-height: 36px;
		text-align: center;
		color: white;
		padding-top: 5px;
	}
	
	/*SLIDING IMAGES STYLES*/
	.boxcaption{  
    	top: 145px;  
    }

}